.App-light {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  position: relative;
}

.App-dark {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*///////////////////////////////////////////// */

.wrapper-light {
  width: 60%;
  height: 70%;
  overflow-y: scroll;
  border-radius: 20px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.wrapper-dark {
  width: 60%;
  height: 70%;
  overflow-y: auto;
  border-radius: 20px;
  background-color: midnightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.list {
  background-color: cadetblue;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

.checkbox {
  margin-right: 35px;
  cursor: pointer;
}

.note-not-done {
  text-decoration: none;
}

.note-done {
  text-decoration: line-through;
}

.header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-size: x-large;
  font-family: cursive;
  font-size: 40px;
}

.plus {
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.delete {
  margin-left: 15px;
  cursor: pointer;
}

.switch {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  z-index: 99;
}

.modalWrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  background-color: aquamarine;
  width: 40%;
  height: 30%;
  border-radius: 20px;
  gap: 20px;
}

.modalButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
